extends layout

block css
    link(rel='stylesheet', href='/stylesheets/#{file}.style.css')

block content
  h1= title
  p Welcome to #{title}
  
block script 
    script(src='/javascripts/#{file}.chart.js')
  