doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block css
    script(src='/javascripts/d3.min.js')
    script(src='/javascripts/lodash.core.js')
    script(src='/javascripts/jquery.js')
  body
    block content
    svg.chart
    block script
